
<h1 mat-dialog-title>neues Rezept</h1>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput required placeholder="Name" [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field>
            <mat-select required placeholder="Kategorie" [(value)]="selectedCategory">
                <mat-option *ngFor="let category of categories" [value]="category">
                    {{category}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let incredient of incredients" [selectable]="selectable"
                         [removable]="removable" (remove)="remove(incredient)">
                  {{incredient}}
                  <mat-icon matChipRemove *ngIf="removable" svgIcon="close"></mat-icon>
                </mat-chip>
                <input placeholder="Zutaten:"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)" />
            </mat-chip-list>
        </mat-form-field>
        <mat-form-field class="full-width">
            <textarea 
                matInput
                required
                placeholder="Beschreibung" 
                [(ngModel)]="description"
                matTextareaAutosize 
                matAutosizeMinRows="1"
                matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="submit" (click)="createRecepe()" >Add</button>
        <button mat-button type="button" mat-dialog-close (click)="dialogRef.close()">Cancel</button>
    </mat-dialog-actions>