<div *ngIf="recipe; else error_content" class="container">
    <header>
        <h1>{{recipe.name}}</h1>
    </header>
    <nav>
        <mat-icon mat-list-icon svgIcon="arrow_back" (click)="backClick()"></mat-icon>
    </nav>
    <main>
        <img *ngFor="let image of imageSources" [src]="image" />

        <br />
        
        <h3 class="mat-h3">Kategorie: {{category}}</h3>
        
        <hr />

        <h3 class="mat-h3">Zutaten:</h3>
        <mat-chip-list>
            <mat-chip *ngFor="let incr of recipe.incredients">{{incr}}</mat-chip>
        </mat-chip-list>

        <br />
        <hr />

        <h3 class="mat-h3">Anleitung:</h3>
        <p>{{recipe.description}}</p>    
    </main>
    <aside>Related links</aside>
    <footer>Footer</footer>
</div>

<ng-template #error_content>
    <mat-icon mat-list-icon svgIcon="arrow_back" (click)="backClick()"></mat-icon>
    <p>Es ist ein Fehler aufgetreten :(</p>
</ng-template>